<ion-split-pane contentId="pages-content" when="(min-width: 745px)">
  <ion-menu contentId="pages-content" type="push" style="min-width: 250px; max-width: 330px">
    <ion-content>

      <ion-list id="pages-list">

        <ion-list-header>
          Vertus (0.1.0)
        </ion-list-header>
        <ion-note>
          <code>terminal</code>, <code>ssh</code>, and <code>sftp-client</code>.
        </ion-note>

        <ion-menu-toggle auto-hide="false" *ngFor="let p of mainPages; let i = index">
          <ion-item (click)="selectedIndexPages = i; selectedIndexSettings = -1;" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndexPages == i">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list id="settings-list">
        <ion-menu-toggle auto-hide="false" *ngFor="let p of settingsPages; let i = index">
          <ion-item (click)="selectedIndexSettings = i; selectedIndexPages = -1;" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndexSettings == i">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

    </ion-content>
  </ion-menu>
  <ion-router-outlet id="pages-content">

  </ion-router-outlet>
</ion-split-pane>
